body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.game-board {
  display: grid;
  grid-template-columns: repeat(30, 25px);
  grid-template-rows: repeat(30, 25px);
  gap: 2px;
}
.cell {
  width: 25px;
  height: 25px;
  background: #111;
}
.wall {
  background: blue;
}
.pacman {
  background-image: url("https://lh3.googleusercontent.com/a-/ALV-UjXamOarjLn9osveIzdj3yptulODeGJlOvngeKPHFM3QD-16HCfL=s75-c");
  background-size: cover;
  border-radius: 50%;
}
.ghost {
  background-image: url("https://play-lh.googleusercontent.com/yDjaHCaOn_O89vnY7eOKH6ElEBtJrmN2CSI4yhiP1_GVC2zrxXWSFGxO0lt9-CU0mV4=w240-h480-rw");
  background-size: cover;
  border-radius: 50%;
}
.dot {
  background: black;
  position: relative;
}
.dot::after {
  content: '';
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




